.spinner-container {
    width: 100vw;
    height: 100vh;
}

.custom-height {
    height: 25px;
}

table {
    overflow:hidden;
}

tr {
    transition:all 1s ease-in-out;
}
.slide-out {
    transform:translateX(100%);
    /* transform:rotateX(90deg); */
}

.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    /* background: #fefefe; */
    color: #333;
    border-bottom: 1px solid black;
}

.marquee .move {
    position: absolute;
    width: auto;
    height: 100%;
    margin: 0;
    line-height: 20px;
    text-align: center;
}

.move.first {
    animation: scroll-left-from-left 100s linear infinite;
}
.move.first:hover {
    animation-play-state: paused;
}

.move.second {
    animation: scroll-left-from-right 100s linear infinite;
}
.move.second:hover {
    animation-play-state: paused;
}

.marquee-element:nth-child(3n) {
    color: darkblue;
}
.marquee-element:nth-child(3n-1) {
    color: #2F4F4F;
}

@keyframes scroll-left-from-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-left-from-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }

}

@media screen and (min-width: 900px) {
    .custom-width {
        width: 900px;
    }
}